<section class="fifth">
    <div class="fifth-main">
        <div class="container">
            <h4 class="fifth-label label">
                <p class="wow up-animation2">Заказать</p>
            </h4>
            <div class="fifth-center">
                <h2 class="fifth-title title">
                    <span class="fifth-title-span wow up-animation" data-wow-delay=".1s">Закажите сайт</span>
                    <span class="fifth-title-span wow up-animation" data-wow-delay=".15s">и получите <a href="" class="fifth-link"><span class="fifth-link-text">3 месяца</span></a></span>
                    <span class="fifth-title-span wow up-animation" data-wow-delay=".2s">техподдержки</span>
                    <span class="fifth-title-span wow up-animation" data-wow-delay=".25s">в подарок</span>
                </h2>
                <form action="" class="fifth-form">
                    <div class="fifth-row">
                        <input type="text" class="fifth-input fifth-row-item wow up-animation" data-wow-delay=".3s" required placeholder="Ваше Имя">
                        <input type="phone" class="fifth-input fifth-row-item wow up-animation" data-wow-delay=".35s" required placeholder="Ваш Телефон">
                    </div>
                    <div class="fifth-row">
                        <input type="email" class="fifth-input fifth-row-item wow up-animation" data-wow-delay=".4s" required placeholder="Ваше Email">
                        <button type="submit" class="btn fifth-btn fifth-row-item wow up-animation" data-wow-delay=".45s">
                            <span class="fifth-btn-text">Заказать сайт</span>
                        </button>
                    </div>
                </form>
                <p class="fifth-description wow up-animation" data-wow-delay=".5s">*Мы гарантируем полную конфиденциальность всей предоставляемой нам информации</p>
            </div>
        </div>
    </div>
</section>