<section class="sixth row">
    <div class="sixth-flex">
        <div class="sixth-item">
            <a href="" class="sixth-link wow up-animation">
					<span class="sixth-block">
						<p class="sixth-text">Lorem ipsum dolor sit ame</p>
						<h2 class="sixth-title">Работы</h2>
					</span>
            </a>
        </div>
        <div class="sixth-item wow up-animation" data-wow-delay=".1s">
            <a href="" class="sixth-link">
					<span class="sixth-block">
						<p class="sixth-text">Lorem ipsum dolor sit ame</p>
						<h2 class="sixth-title">Поддержка</h2>
					</span>
            </a>
        </div>
        <div class="sixth-item wow up-animation" data-wow-delay=".2s">
            <a href="" class="sixth-link">
					<span class="sixth-block">
						<p class="sixth-text">Lorem ipsum dolor sit ame</p>
						<h2 class="sixth-title">Контакты</h2>
					</span>
            </a>
        </div>
    </div>
</section>