<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Your future</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main2.css">
	<link rel="stylesheet" href="css/main.css">

</head>


<body>
	<div class="header header_white startLogo2">
		<div class="header-top">
			<div class="header-left">
				<div class="header-logo">
					<img src="img/logo2.svg" alt="" class="header-logo-img">
				</div>
				<div class="header-phone">
					<a href="tel:+380(93)1112220" class="header-phone-link">+380 (93) 111 22 20</a>
				</div>
			</div>
			<div class="header-menu menu">
				<ul class="menu-list active">
					<li class="menu-item">
						<a href="" class="menu-item-link">Работы</a>
					</li>
					<li class="menu-item">
						<a href="" class="menu-item-link">Услуги</a>
					</li>
					<li class="menu-item">
						<a href="" class="menu-item-link">Поддержка</a>
					</li>
					<li class="menu-item">
						<a href="" class="menu-item-link">О нас</a>
					</li>
					<li class="menu-item">
						<a href="" class="menu-item-link">Блог</a>
					</li>
					<li class="menu-item">
						<a href="" class="menu-item-link">Контакты</a>
					</li>
				</ul>
				<div class="menu-btn active">
					<span class="menu-line menu-line_top"></span>
					<span class="menu-line menu-line_bottom"></span>
				</div>
			</div>
			<div class="menu-overlay"></div>
		</div>
	</div>
	<section class="third third_visit visit visit_blog">
		<div class="first-main-left first-main-left_intro startLogo startLogo_white">
			<a href="http://future.youfuture.com.ua/" class="first-main-lang lang active">
				<span class="lang-text">Рус.</span>
				<span class="lang-line"></span>
			</a>
			<a href="http://future.youfuture.com.ua/uk/" class="first-main-lang lang">
				<span class="lang-text">Укр.</span>
				<span class="lang-line"></span>
			</a>
			<a href="http://future.youfuture.com.ua/en/" class="first-main-lang lang">
				<span class="lang-text">Eng.</span>
				<span class="lang-line"></span>
			</a>
		</div>
		<div class="first-main-right first-main-right_intro startLogo startLogo_white">
			<a href="" class="first-main-lang contact active">
				<span class="lang-text">Написать Нам</span>
				<span class="lang-line"></span>
			</a>
		</div>
		<div class="container container_flex circle-trigger1">
			<nav class="third-nav">
				<ul class="third-nav-list">
					<li class="third-nav-item wow up-animation" data-wow-delay="0.2s">
						<a href="" class="third-nav-link active">Все статьи</a>
					</li>
					<li class="third-nav-item wow up-animation" data-wow-delay="0.3s">
						<a href="" class="third-nav-link">Разработка</a>
					</li>
					<li class="third-nav-item wow up-animation" data-wow-delay="0.4s">
						<a href="" class="third-nav-link">Продвижение</a>
					</li>
					<li class="third-nav-item wow up-animation" data-wow-delay="0.5s">
						<a href="" class="third-nav-link">Разное</a>
					</li>
				</ul>
			</nav>
			<div class="third-main third-main_big">
				<h2 class="third-title title_white title_services wow up-animation" data-wow-delay=".2s">Новости и статьи</h2>
				<a href="#blog" class="services-link services-link_intro services-link_white wow up-animation scroll-link" data-wow-delay=".3s">Смотреть статьи</a>
			</div>
		</div>
	</section>
	<section class="blog" id="blog">
		<div class="blog-list">
			<div class="blog-item color1 wow up-animation" data-wow-delay=".1s">
				<a href="" class="blog-item-link">
					<div class="blog-item-block">
						<div class="blog-item-top">
							<p class="blog-item-day">25</p>
							<p class="blog-item-month">марта</p>
						</div>
						<div class="blog-item-bottom">
							<h4 class="blog-item-title">Разработка, создание, изготовление сайтов на CMS Joomla</h4>
							<div class="second-item-line"></div>
						</div>
					</div>
				</a>
			</div>
			<div class="blog-item color2 wow up-animation" data-wow-delay=".15s">
				<a href="" class="blog-item-link">
					<div class="blog-item-block">
						<div class="blog-item-top">
							<p class="blog-item-day">25</p>
							<p class="blog-item-month">марта</p>
						</div>
						<div class="blog-item-bottom">
							<h4 class="blog-item-title">Разработка корпоративного сайта</h4>
							<div class="second-item-line"></div>
						</div>
					</div>
				</a>
			</div>
			<div class="blog-item color3 wow up-animation" data-wow-delay=".2s">
				<a href="" class="blog-item-link">
					<div class="blog-item-block">
						<div class="blog-item-top">
							<p class="blog-item-day">25</p>
							<p class="blog-item-month">марта</p>
						</div>
						<div class="blog-item-bottom">
							<h4 class="blog-item-title">Как создать «Новости сайта» или «Блог» для сайта на Drupal 7. Используем модуль Views</h4>
							<div class="second-item-line"></div>
						</div>
					</div>
				</a>
			</div>
			<div class="blog-item color4 wow up-animation" data-wow-delay=".25s">
				<a href="" class="blog-item-link">
					<div class="blog-item-block">
						<div class="blog-item-top">
							<p class="blog-item-day">25</p>
							<p class="blog-item-month">марта</p>
						</div>
						<div class="blog-item-bottom">
							<h4 class="blog-item-title">Сайт под ключ. Неоспоримое удобство и выгода</h4>
							<div class="second-item-line"></div>
						</div>
					</div>
				</a>
			</div>
			<div class="blog-item color5 wow up-animation" data-wow-delay=".3s">
				<a href="" class="blog-item-link">
					<div class="blog-item-block">
						<div class="blog-item-top">
							<p class="blog-item-day">25</p>
							<p class="blog-item-month">марта</p>
						</div>
						<div class="blog-item-bottom">
							<h4 class="blog-item-title">Сайт под ключ. Неоспоримое удобство и выгода</h4>
							<div class="second-item-line"></div>
						</div>
					</div>
				</a>
			</div>
			<div class="blog-item color6 wow up-animation" data-wow-delay=".1s">
				<a href="" class="blog-item-link">
					<div class="blog-item-block">
						<div class="blog-item-top">
							<p class="blog-item-day">25</p>
							<p class="blog-item-month">марта</p>
						</div>
						<div class="blog-item-bottom">
							<h4 class="blog-item-title">Разработка, создание, изготовление сайтов на CMS Joomla</h4>
							<div class="second-item-line"></div>
						</div>
					</div>
				</a>
			</div>
			<div class="blog-item color7 wow up-animation" data-wow-delay=".15s">
				<a href="" class="blog-item-link">
					<div class="blog-item-block">
						<div class="blog-item-top">
							<p class="blog-item-day">25</p>
							<p class="blog-item-month">марта</p>
						</div>
						<div class="blog-item-bottom">
							<h4 class="blog-item-title">Разработка корпоративного сайта</h4>
							<div class="second-item-line"></div>
						</div>
					</div>
				</a>
			</div>
			<div class="blog-item color8 wow up-animation" data-wow-delay=".2s">
				<a href="" class="blog-item-link">
					<div class="blog-item-block">
						<div class="blog-item-top">
							<p class="blog-item-day">25</p>
							<p class="blog-item-month">марта</p>
						</div>
						<div class="blog-item-bottom">
							<h4 class="blog-item-title">Как создать «Новости сайта» или «Блог» для сайта на Drupal 7. Используем модуль Views</h4>
							<div class="second-item-line"></div>
						</div>
					</div>
				</a>
			</div>
			<div class="blog-item color9 wow up-animation" data-wow-delay=".25s">
				<a href="" class="blog-item-link">
					<div class="blog-item-block">
						<div class="blog-item-top">
							<p class="blog-item-day">25</p>
							<p class="blog-item-month">марта</p>
						</div>
						<div class="blog-item-bottom">
							<h4 class="blog-item-title">Сайт под ключ. Неоспоримое удобство и выгода</h4>
							<div class="second-item-line"></div>
						</div>
					</div>
				</a>
			</div>
			<div class="blog-item color3 wow up-animation" data-wow-delay=".3s">
				<a href="" class="blog-item-link">
					<div class="blog-item-block">
						<div class="blog-item-top">
							<p class="blog-item-day">25</p>
							<p class="blog-item-month">марта</p>
						</div>
						<div class="blog-item-bottom">
							<h4 class="blog-item-title">Сайт под ключ. Неоспоримое удобство и выгода</h4>
							<div class="second-item-line"></div>
						</div>
					</div>
				</a>
			</div>
			<div class="blog-item color2 wow up-animation" data-wow-delay=".1s">
				<a href="" class="blog-item-link">
					<div class="blog-item-block">
						<div class="blog-item-top">
							<p class="blog-item-day">25</p>
							<p class="blog-item-month">марта</p>
						</div>
						<div class="blog-item-bottom">
							<h4 class="blog-item-title">Разработка, создание, изготовление сайтов на CMS Joomla</h4>
							<div class="second-item-line"></div>
						</div>
					</div>
				</a>
			</div>
			<div class="blog-item color1 wow up-animation" data-wow-delay=".15s">
				<a href="" class="blog-item-link">
					<div class="blog-item-block">
						<div class="blog-item-top">
							<p class="blog-item-day">25</p>
							<p class="blog-item-month">марта</p>
						</div>
						<div class="blog-item-bottom">
							<h4 class="blog-item-title">Разработка корпоративного сайта</h4>
							<div class="second-item-line"></div>
						</div>
					</div>
				</a>
			</div>
			<div class="blog-item color5 wow up-animation" data-wow-delay=".2s">
				<a href="" class="blog-item-link">
					<div class="blog-item-block">
						<div class="blog-item-top">
							<p class="blog-item-day">25</p>
							<p class="blog-item-month">марта</p>
						</div>
						<div class="blog-item-bottom">
							<h4 class="blog-item-title">Как создать «Новости сайта» или «Блог» для сайта на Drupal 7. Используем модуль Views</h4>
							<div class="second-item-line"></div>
						</div>
					</div>
				</a>
			</div>
			<div class="blog-item color7 wow up-animation" data-wow-delay=".25s">
				<a href="" class="blog-item-link">
					<div class="blog-item-block">
						<div class="blog-item-top">
							<p class="blog-item-day">25</p>
							<p class="blog-item-month">марта</p>
						</div>
						<div class="blog-item-bottom">
							<h4 class="blog-item-title">Сайт под ключ. Неоспоримое удобство и выгода</h4>
							<div class="second-item-line"></div>
						</div>
					</div>
				</a>
			</div>
			<div class="blog-item color2 wow up-animation" data-wow-delay=".3s">
				<a href="" class="blog-item-link">
					<div class="blog-item-block">
						<div class="blog-item-top">
							<p class="blog-item-day">25</p>
							<p class="blog-item-month">марта</p>
						</div>
						<div class="blog-item-bottom">
							<h4 class="blog-item-title">Сайт под ключ. Неоспоримое удобство и выгода</h4>
							<div class="second-item-line"></div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="blog-line">
			<div class="container">
				<div class="blog-line-block">
					<a href="" class="blog-line-more">Загрузить еще</a>
				</div>
			</div>
		</div>
	</section>
	@import "sixth.html"
	<footer class="footer">
		<div class="container">
			<nav class="footer-nav">
				<ul class="footer-nav-list">
					<li class="footer-nav-item">
						<a href="" class="footer-nav-link">Главная</a>
					</li>
					<li class="footer-nav-item">
						<a href="" class="footer-nav-link">страница</a>
					</li>
					<li class="footer-nav-item">
						<a href="" class="footer-nav-link">текущая страница</a>
					</li>
				</ul>
			</nav>
		</div>
	</footer>
	<section class="lines">
		<div class="container">
			<div class="vertical-line vertical-line_first"></div>
			<div class="vertical-line vertical-line_second"></div>
			<div class="vertical-line vertical-line_third"></div>
			<div class="vertical-line vertical-line_fourth"></div>
		</div>
	</section>
	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
	<script src="js/common.js"></script>

</body>
</html>
