@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
  .services
    padding-top: 250px
  .services-item-block
    padding: 180px 25px 40px 25px
  .third-nav
    position: relative
    max-width: 700px
    width: 100%
    margin: 55px auto 0
    left: 35px
    top: 0
  .visit
    padding: 150px 0 60px
  .container_flex
    display: flex
    flex-direction: column-reverse
    align-items: flex-start
    justify-content: flex-start
  .info
    padding: 130px 0 130px
  .seventh_visit
    padding-bottom: 20px
@media only screen and (max-width: 992px)
  .services-item
    width: 50%
  .visit-right-title
    font-size: 24px
  .title_services
    font-size: 72px
  .services-item-block
    padding: 180px 40px 40px 40px
  .services-main
    padding: 60px 0 50px
  .fifth-title-span
    line-height: 42px
  .label
    left: 20px
    top: 10px
  .services-text-span
    display: inline
  .visit-circle_big
    width: 320px
    height: 320px
    right: -100px
    top: -15px
  .visit-circle_sm
    width: 190px
    height: 190px
    top: 145px
    right: -70px
  .visit-right
    width: 320px
  .third-nav
    max-width: 100%
    padding: 0 75px
    left: 0
  .header_white .menu-btn .menu-line
    background: #000000
  .header_white .menu-btn.active .menu-line
    background: #ffffff
  .header_white .menu-item-link
    color: $dark
  .info
    padding: 90px 0 90px
  .visit-item
    width: 30%
    padding: 0 10px
    margin: 40px 0
  .visit-list
    justify-content: center
    flex-wrap: wrap
  .visit-animate_first
    right: 0
@media only screen and (max-width: 768px)
  .title_services
    font-size: 42px
    line-height: 0.9
  .services-item-text, .services-item-price
    display: none
  .services-item
    width: 100%
  .services-item-flex
    flex-direction: row
    width: 100%
    align-items: flex-start
  .services-item-bottom
    margin-top: 0
  .services-item-link
    margin-top: 0
  .services-item-title
    min-height: auto
  .services-item-block
    padding: 15px 50px 15px 120px
  .services-item-svg
    width: 60px
    height: auto
    top: 50%
    transform: translateY(-50%)
  .services-item-title
    font-size: 24px
  .services-item-top
    padding-right: 20px
  .services
    padding: 115px 0 50px
  .services-text
    margin-top: 30px
  .services-link
    display: none
  .label
    left: 8%
    top: 5px
  .services-item-title
    margin-top: 7px
  .services-main
    padding: 40px 0 25px
  .third-nav
    padding: 0 40px 0 20%
  .visit
    padding: 120px 0 50px
  .third-nav
    margin-top: 35px
  .visit-flex
    padding: 0 40px 0 20%
    flex-direction: column
  .visit-content
    padding-left: 0
  .visit-right
    position: static
    padding: 0
    width: 100%
    margin-top: 45px
  .visit-main
    padding: 40px 0 40px
  .visit-tech
    margin: 30px 0 25px
    flex-wrap: wrap
    padding-right: 80px
    justify-content: flex-start
  .visit-tech-item
    width: 65px
    margin: 13px 0
  .visit-item
    width: 50%
    margin: 15px 0
    padding: 0
  .info
    padding: 40px 40px 35px 40px
  .visit-square_first
    width: 250px
    height: 250px
    top: 30px
    right: -100px
  .visit-square_first-content
    border-radius: 30px
  .visit-square_second
    width: 80px
    height: 80px
    right: -15px
  .visit-square_second-content
    border-radius: 15px
  .visit-square_third
    width: 180px
    height: 180px
    right: 75px
  .visit-square_third-content
    border-radius: 20px
  .visit-rectangle_second
    width: 300px
    height: 130px
    top: 20px
    right: -140px
  .visit-rectangle_first
    width: 300px
    height: 130px
    top: -100px
    right: 7px
  .visit-rectangle_third
    width: 150px
    height: 10px
    top: 140px
    right: 136px
  .visit-rectangle_third-content
    border-radius: 5px
  .visit-rectangle_fifth
    width: 250px
    height: 160px
    top: -30px
    right: -90px
  .visit-rectangle_fourth
    width: 250px
    height: 160px
    top: -30px
    right: 30px
  .visit-circle_fourth
    width: 80px
    height: 80px
    top: 140px
    right: 24px
  .visit-circle_third
    width: 80px
    height: 80px
    top: 128px
    right: 90px
  .visit-triangle_second-img
    width: 200px
  .visit-triangle_third-img
    width: 250px
  .visit-triangle_second
    top: -5px
  .visit-triangle_third
    top: 45px
    right: 0px
  .visit-triangle_first
    right: 190px
  .visit-triangle_first-img
    width: 150px
  .visit-puzzle_second-img
    width: 200px
  .visit-puzzle_third-img
    width: 150px
  .visit-puzzle_second
    right: 5px
    top: 100px
  .visit-puzzle_third
    right: 35px
  .visit-puzzle_first-img
    width: 250px
  .visit-puzzle_first
    right: 115px