@import "fonts"
@import "vars"
.title
  &_services
    font-size: 88px
  &_white
    color: #ffffff
.services
  padding: 365px 0 55px
  &-text
    color: #878787
    font-family: "MuseoSansCyrl-500"
    font-size: 16px
    line-height: 24px
    margin-top: 20px
    &-span
      display: inline-block
    &_white
      color: #ffffff
  &-link
    color: #1b1b1b
    font-family: "MuseoSansCyrl-900"
    font-size: 14px
    padding-left: 25px
    margin-top: 65px
    display: inline-block
    text-decoration: none
    background: url(../img/arrow-down.svg) no-repeat left center
    background-size: 9px 6px
    &_white
      color: #ffffff
      background: url(../img/arrow-down2.svg) no-repeat left center
      background-size: 9px 6px
  &-main
    background: $dark
    padding: 150px 0 90px
  &-list
    display: flex
    justify-content: flex-start
    flex-wrap: wrap
  &-item
    width: 33.33%
    position: relative
    margin-bottom: 20px
    &-label
      color: rgba(255, 255, 255, 0.6)
      font-family: "MuseoSansCyrl-900"
      font-size: 12px
      text-transform: uppercase
    &-svg
      position: absolute
      top: 40px
      left: 40px
    &-title
      color: #ffffff
      font-family: "MuseoSansCyrl-900"
      font-size: 40px
      line-height: 0.85
      margin-top: 10px
      min-height: 68px
      &_sm
        font-size: 30px
    &-text
      color: #c8c8c8
      font-family: "MuseoSansCyrl-300"
      font-size: 16px
      line-height: 20px
      margin-top: 30px
      &-span
        display: inline-block
    &-block
      display: flex
      text-decoration: none
      padding: 180px 50px 40px 40px
      height: 100%
      transition: all .5s ease
      box-shadow: 0 43px 32px transparent
      &:hover
        background: #222222
        box-shadow: 0 43px 32px rgba(0, 0, 0, 0.22)
        .price-value
          color: #e90e47
    &-link
      width: 50px
      height: 50px
      background-color: #323232
      display: flex
      align-items: center
      justify-content: center
      margin-top: 25px
      svg
        transform: rotate(-90deg)
    &-bottom
      margin-top: 30px
    &-flex
      display: flex
      align-items: flex-start
      justify-content: space-between
      flex-direction: column
.price
  &-text
    color: #979797
    font-family: "MuseoSansCyrl-900"
    font-size: 12px
    text-transform: uppercase
  &-value
    display: flex
    align-items: flex-start
    justify-content: flex-start
    color: #ffd800
    font-family: "MuseoSansCyrl-900"
    font-size: 40px
    line-height: 1
    margin-top: 5px
    transition: color .5s ease
    &_dark
      color: $dark
    &-currency
      font-size: 24px
      line-height: 1.5
.header
  &_white
    .header-phone-link, .menu-item-link
      color: #ffffff
    .menu-line
      background: #ffffff
.btn
  &_white
    background: #e6e6e6
    color: $dark
  &_red
    background: #e90e47
    color: #ffffff
.visit
  padding: 350px 0 60px
  overflow: hidden
  background: $dark
  &-main
    padding: 110px 0 110px
    background: #ffffff
    position: relative
    z-index: 3
  &-content
    max-width: 700px
    margin: 0 auto
    padding-left: 35px
  &-flex
    display: flex
    align-items: flex-start
    justify-content: space-between
  &-left
    width: 100%
    &-item
      font-family: "MuseoSansCyrl-500"
      font-size: 16px
      line-height: 24px
      color: #1b1b1b
      padding-left: 25px
      position: relative
      margin-bottom: 20px
      &-span
        color: #767676
        font-family: "MuseoSansCyrl-500Italic"
        font-size: 14px
        padding-left: 5px
      &:before
        content: ''
        position: absolute
        width: 4px
        height: 4px
        background-color: #4a4a4a
        border-radius: 50%
        left: 0
        top: 50%
        transform: translateY(-50%)
  &-right
    width: 385px
    flex-shrink: 0
    position: absolute
    right: 0
    padding: 0 40px
    &-label
      color: #7a7a7a
      font-family: "MuseoSansCyrl-900"
      font-size: 12px
      text-transform: uppercase
      margin-bottom: 15px
    &-title
      font-family: "MuseoSansCyrl-900"
      font-size: 40px
      line-height: 0.85
    &-block
      margin-bottom: 35px
    &-present
      color: #e90e47
      font-family: "MuseoSansCyrl-900"
      font-size: 12px
      text-transform: uppercase
      padding: 5px 0 5px 25px
      background: url(../img/gift.svg) no-repeat left top 2px
      background-size: 19px 18px
    &-item
      color: #4a4a4a
      font-family: "MuseoSansCyrl-500"
      font-size: 14px
      line-height: 24px
      margin: 5px 0
    &-list
      margin: 10px 0 35px
  &-tech
    display: flex
    align-items: center
    justify-content: space-between
    max-width: 380px
    margin: 55px 0
  &-map
    width: 100%
    height: calc(100% + 50px)
    position: absolute
    z-index: -1
    top: 0
    left: 0

.second-main
  flex-wrap: wrap
  justify-content: flex-start
.second-item-title_dark, .second-item-val_dark
  color: $dark
.label_light
  color: #868686
  top: 0
.seventh
  z-index: 2
  &-item
    color: #afaeae
    font-family: "MuseoSansCyrl-500"
    font-size: 14px
    line-height: 24px
    margin: 12px 0
    padding-left: 25px
    position: relative
    &:before
      position: absolute
      left: 0
      top: 50%
      transform: translateY(-50%)
      content: ''
      width: 4px
      height: 4px
      background-color: rgba(175, 174, 174, 0.4)
      border-radius: 50%
  &-list
    margin: 35px 0 30px
.seventh_visit
  padding: 130px 0 130px
.visit
  position: relative
  &-list
    display: flex
    justify-content: space-between
  &-item
    width: 200px
    text-align: center
    &-title
      color: #ffffff
      font-family: "MuseoSansCyrl-700"
      font-size: 18px
      line-height: 24px
      margin-top: 15px
    &-text
      color: #afaeae
      font-family: "MuseoSansCyrl-500"
      font-size: 14px
      line-height: 16px
      margin-top: 10px
  &-animate
    position: fixed
    z-index: 0
    &-item
      position: absolute
      transform: translate(0, 0)
      transition: all 0.5s cubic-bezier(.16,.51,.82,.58)
    &_first
      top: 15px
      right: 9%
  &-square
    &_first
      width: 470px
      height: 470px
      right: 0
      top: 120px
      &-content
        background: #BD3C99
        display: block
        width: 100%
        height: 100%
        border-radius: 60px
        transform: rotate(-8deg)
        transform-origin: 50% 0
    &_second
      width: 160px
      height: 160px
      right: 85px
      top: -30px
      &-content
        background: #66bb46
        display: block
        width: 100%
        height: 100%
        border-radius: 20px
        transform: rotate(10deg)
        transform-origin: 100% 0
    &_third
      width: 305px
      height: 305px
      right: 270px
      top: -15px
      &-content
        background: #4b2d83
        display: block
        width: 100%
        height: 100%
        border-radius: 40px
        transform: rotate(13deg)
        transform-origin: 100% 0
  &-puzzle
    &_first
      top: -66px
      right: 347px
    &_second
      right: 25px
      top: 195px
      z-index: 1
    &_third
      right: 145px
      top: -15px
  &-rectangle
    &_first
      width: 745px
      height: 220px
      border-radius: 20px
      top: -45px
      right: 64px
      &-content
        width: 100%
        height: 100%
        background: #66bb46
        transform: rotate(112deg)
        border-radius: 10px
    &_second
      width: 560px
      height: 220px
      border-radius: 20px
      top: 225px
      right: -80px
      &-content
        width: 100%
        height: 100%
        background: #e90e47
        transform: rotate(127deg)
        border-radius: 10px
    &_third
      width: 280px
      height: 24px
      top: 370px
      right: 380px
      &-content
        width: 100%
        height: 100%
        background: #4b2d83
        transform: rotate(114deg)
        border-radius: 10px
        transform-origin: 100% 0%
    &_fourth
      width: 390px
      height: 290px
      top: 55px
      right: 307px
      &-content
        background: #199bdb
        transform: rotate(62deg)
        width: 100%
        height: 100%
        border-radius: 20px
        transform-origin: 50% 40%
    &_fifth
      width: 390px
      height: 290px
      top: 50px
      right: 90px
      &-content
        background: #4b2d83
        transform: rotate(123deg)
        width: 100%
        height: 100%
        border-radius: 20px
        transform-origin: 55% 50%


  &-circle
    &_big
      width: 560px
      height: 560px
      background-color: #199bdb
      border-radius: 50%
      top: -35px
      right: 110px
      transform-origin: left center
    &_sm
      top: 100px
      width: 336px
      height: 336px
      background-color: #ffd800
      border-radius: 50%
      right: 0
      transform-origin: left center
    &_third
      width: 170px
      height: 170px
      border-radius: 50%
      background: #bc3c99
      top: 325px
      right: 355px
    &_fourth
      width: 170px
      height: 170px
      border-radius: 50%
      background: #e90e47
      top: 365px
      right: 238px
  &-triangle
    position: absolute
    &_first
      top: -40px
      right: 470px
      &-img
        width: 273px
    &_second
      top: 45px
      right: -40px
    &_third
      top: 125px
      right: 80px

.third-nav
  position: absolute
  top: 17px
  left: 0
  z-index: 2
  &-item
    margin-bottom: 15px
  &-link
    color: rgba(255, 255, 255, 0.5)
    font-family: "MuseoSansCyrl-700"
    font-size: 16px
    text-decoration: none
    display: inline-block
    transition: all .5s ease
    position: relative
    &:after
      position: absolute
      content: ''
      width: 0
      height: 2px
      background-color: #ffffff
      left: calc(100% + 12px)
      top: 50%
      transform: translateY(-50%)
      transition: width .5s ease
    &.active, &:hover
      color: #ffffff
      &:after
        width: 20px

@keyframes down-animation
  0%
    opacity: 0
    transform: translateY(-70px)
  100%
    opacity: 1
    transform: translateY(0)
.down-animation
  animation-name: down-animation
.seventh-circle
  position: absolute
  &_first
    width: 350px
    height: 350px
    border-radius: 50%
    background: #ffd800
    top: 15px
    left: -100px
    transition: all 1s ease
  &_second
    width: 158px
    height: 158px
    background-color: #199bdb
    border-radius: 50%
    top: 230px
    left: 45px
    transition: all 1.3s ease
  &_third
    width: 367px
    height: 367px
    background-color: #199bdb
    right: -60px
    border-radius: 50%
    top: 600px
    transition: all 1s ease
  &_fourth
    width: 150px
    height: 150px
    background-color: #ffd800
    border-radius: 50%
    right: 130px
    top: 925px
    transition: all 1.3s ease
  &_fifth
    width: 186px
    height: 186px
    background-color: #ffd800
    border-radius: 50%
    left: 75px
    top: 1050px
    transition: all 1s ease
  &_sixth
    width: 100px
    height: 100px
    background-color: #199bdb
    left: 200px
    top: 1400px
    border-radius: 50%
    transition: all 1.3s ease
  &_seventh
    width: 100px
    height: 100px
    border-radius: 50%
    background: #e90e47
    top: 390px
    left: 30px
    transition: all 1.6s ease
  &_eight
    width: 80px
    height: 80px
    border-radius: 50%
    background: #bc3c99
    top: 240px
    left: 200px
    transition: all 1.9s ease
  &_ninth
    background: #bc3c99
    width: 68px
    height: 68px
    border-radius: 50%
    top: 1130px
    right: 240px
    transition: all 1.9s ease
  &_ten
    background: #e90e47
    width: 120px
    height: 120px
    border-radius: 50%
    top: 730px
    right: 20px
    transition: all 1.6s ease
  &_eleven
    background: #e90e47
    width: 125px
    height: 125px
    border-radius: 50%
    top: 1410px
    left: 100px
    transition: all 1.6s ease
    z-index: 2
  &_twelve
    background: #bc3c99
    width: 70px
    height: 70px
    border-radius: 50%
    top: 1420px
    left: 250px
    transition: all 1.6s ease
    z-index: 2
.seventh-triangle
  position: absolute
  &_first
    top: -160px
    left: 65px
    transition: all 1s ease
    &-img
      width: 287px
      height: 277px
      transform: rotate(-35deg)
  &_second
    top: 85px
    left: 20px
    transition: all 1.3s ease
    &-img
      width: 289px
      height: 317px
      transform: rotate(-6deg)
  &_third
    top: 45px
    left: -75px
    transition: all 1.6s ease
    &-img
      width: 226px
      height: 210px
      transform: rotate(49deg)
  &_fourth
    top: 270px
    right: -105px
    transition: all 1s ease
    &-img
      width: 374px
      height: 345px
      transform: rotate(0deg)
  &_fifth
    top: 620px
    right: 18px
    transition: all 1.3s ease
    &-img
      width: 380px
      height: 371px
      transform: rotate(0deg)
  &_sixth
    top: 806px
    right: 264px
    transition: all 1.6s ease
    &-img
      width: 171px
      height: 174px
      transform: rotate(0deg)
  &_seventh
    top: 1000px
    left: -13px
    transition: all 1s ease
    &-img
      width: 232px
      height: 223px
      transform: rotate(63deg)
  &_eight
    top: 1442px
    left: 78px
    transition: all 1.3s ease
    &-img
      width: 188px
      height: 171px
      transform: rotate(-6deg)
  &_ninth
    top: 1190px
    left: 100px
    transition: all 1.6s ease
    &-img
      width: 168px
      height: 178px
      transform: rotate(62deg)
.seventh-square
  position: absolute
  &_first
    background: #4b2d83
    width: 310px
    height: 310px
    border-radius: 30px
    transform: rotate(-2deg)
    left: -105px
    top: -115px
    transition: all 1s ease
  &_second
    background: #66bb46
    width: 190px
    height: 190px
    border-radius: 20px
    transform: rotate(15deg)
    left: 110px
    top: 230px
    transition: all 1.3s ease
  &_third
    background: #bc3c99
    width: 100px
    height: 100px
    border-radius: 10px
    left: 130px
    top: 515px
    transform: rotate(60deg)
    transition: all 1.6s ease
  &_fourth
    background: #bc3c99
    width: 305px
    height: 305px
    border-radius: 35px
    transform: rotate(-2deg)
    top: 450px
    right: 25px
    transition: all 1s ease
  &_fifth
    background-color: #4b2d83
    width: 190px
    height: 190px
    border-radius: 20px
    transform: rotate(15deg)
    top: 615px
    right: 230px
    transition: all 1.3s ease
  &_sixth
    background-color: #66bb46
    width: 100px
    height: 100px
    border-radius: 10px
    transform: rotate(10deg)
    top: 720px
    right: 150px
    transition: all 1.6s ease
  &_seventh
    background-color: #66bb46
    width: 190px
    height: 190px
    border-radius: 20px
    top: 1070px
    left: 40px
    transform: rotate(-15deg)
    transition: all 1s ease
  &_eight
    background-color: #bc3c99
    width: 100px
    height: 100px
    border-radius: 10px
    transform: rotate(10deg)
    top: 1200px
    left: 83px
    transition: all 1.3s ease
  &_ninth
    background-color: #4b2d83
    width: 210px
    height: 210px
    border-radius: 30px
    top: 1310px
    left: 117px
    transform: rotate(5deg)
    transition: all 1.6s ease
.seventh-rectangle
  position: absolute
  &_first
    background-color: #66bb46
    width: 400px
    height: 160px
    transform: rotate(128deg)
    border-radius: 10px
    left: -107px
    top: 117px
    z-index: 1
    transition: all 1s ease
  &_second
    background-color: #e90e47
    width: 400px
    height: 160px
    transform: rotate(30deg)
    border-radius: 10px
    left: -94px
    top: 137px
    transition: all 1.3s ease
  &_third
    background: #4b2d83
    width: 200px
    height: 15px
    border-radius: 10px
    top: 334px
    left: -4px
    transform: rotate(22deg)
    z-index: 2
    transition: all 1.6s ease
  &_fourth
    background-color: #e90e47
    width: 400px
    height: 160px
    transform: rotate(20deg)
    border-radius: 10px
    right: -50px
    top: 587px
    transition: all 1s ease
  &_fifth
    background-color: #66bb46
    width: 400px
    height: 160px
    transform: rotate(-53deg)
    border-radius: 10px
    right: 10px
    top: 790px
    z-index: 1
    transition: all 1.3s ease
  &_sixth
    background: #4b2d83
    width: 200px
    height: 15px
    border-radius: 10px
    top: 970px
    right: 206px
    transform: rotate(22deg)
    z-index: 2
    transition: all 1.6s ease
  &_seventh
    background-color: #e90e47
    width: 280px
    height: 110px
    transform: rotate(28deg)
    border-radius: 5px
    left: 40px
    top: 1290px
    transition: all 1s ease
  &_eight
    background-color: #66bb46
    width: 280px
    height: 110px
    transform: rotate(83deg)
    border-radius: 5px
    left: -10px
    top: 1430px
    transition: all 1.3s ease
  &_ninth
    background-color: #4b2d83
    width: 140px
    height: 10px
    transform: rotate(20deg)
    border-radius: 5px
    left: 100px
    top: 1670px
    transition: all 1.6s ease
  &_ten
    background: #4b2d83
    width: 200px
    height: 270px
    transform: rotate(32deg)
    top: -50px
    left: -50px
    border-radius: 10px
    transition: all 1s ease
  &_eleventh
    background: #199bdb
    width: 200px
    height: 270px
    transform: rotate(8deg)
    top: 200px
    left: 85px
    border-radius: 10px
    transition: all 1.3s ease
  &_twelve
    background: #4b2d83
    width: 320px
    height: 240px
    transform: rotate(8deg)
    top: 470px
    right: 50px
    border-radius: 10px
    transition: all 1s ease
  &_thirteen
    background: #199bdb
    width: 240px
    height: 320px
    transform: rotate(20deg)
    top: 650px
    right: -10px
    border-radius: 10px
    transition: all 1.3s ease
  &_fourteen
    background: #4b2d83
    width: 210px
    height: 280px
    transform: rotate(-13deg)
    top: 880px
    left: 10px
    border-radius: 10px
    transition: all 1s ease
    z-index: 1
  &_fifteen
    background: #199bdb
    width: 160px
    height: 220px
    transform: rotate(20deg)
    top: 1360px
    left: 100px
    border-radius: 10px
    transition: all 1.3s ease
.seventh-puzzle
  position: absolute
  &_first
    top: -170px
    left: -85px
    z-index: 2
    transition: all 1s ease
    &-img
      width: 365px
      height: 286px
  &_second
    top: 250px
    left: 15px
    z-index: 1
    transition: all 1.6s ease
    &-img
      width: 182px
      height: 174px
  &_third
    top: -73px
    left: 63px
    transition: all 1.3s ease
    &-img
      width: 275px
      height: 350px
      transform: rotate(26deg)
  &_fourth
    top: 370px
    right: 95px
    transition: all 1.3s ease
    &-img
      width: 190px
      height: 245px
      transform: rotate(140deg)
  &_fifth
    top: 315px
    right: 30px
    transition: all 1s ease
    z-index: 1
    &-img
      width: 363px
      height: 291px
      transform: rotate(100deg)
  &_sixth
    top: 865px
    right: -16px
    transition: all 1.6s ease
    &-img
      width: 210px
      height: 165px
      transform: rotate(100deg)
  &_seventh
    top: 1070px
    left: 20px
    transition: all 1.3s ease
    &-img
      width: 213px
      height: 207px
      transform: rotate(-9deg)
  &_eight
    top: 870px
    left: -80px
    transition: all 1s ease
    z-index: 1
    &-img
      width: 363px
      height: 291px
      transform: rotate(-37deg)
  &_ninth
    top: 1600px
    left: 100px
    transition: all 1.6s ease
    &-img
      width: 151px
      height: 167px
      transform: rotate(26deg)
.fifth-title-span
  display: inline-block
  line-height: 61px
.visit-item
  &-img
    width: 60px
  &-block
    height: 70px
.info
  background: #1a1a1a
  padding-bottom: 130px
  position: relative
  z-index: 2
.fourth
  background: $dark
.menu-item-link
  transition: all .5s ease
  position: relative
  &:before
    width: 100%
    height: 2px
    content: ''
    position: absolute
    bottom: -5px
    left: 0
    background-color: rgba(27, 27, 27, 0.7)
    opacity: 0
    transition: opacity .5s ease
  &:hover, &.active
    color: rgba(27, 27, 27, 0.7)
    &:before
      opacity: 1
.first-main-lang
  color: rgba(27, 27, 27, 0.7)
  transition: all .5s ease
  &:hover, &.active
    color: #1b1b1b
.fourth-right-title-span
  display: inline-block
.third-nav-link_span:after, .third-nav-link_under:after
  display: none
.third-nav-link_span, .third-nav-link_under
  color: #ffffff
.third-nav-link_under
  text-decoration: underline
  font-family: "MuseoSansCyrl-900"
.intro
  .visit-tech
    margin: 90px 0 0
  &-uber
    background: #1f1d1d
    padding: 60px 0 210px
    .intro-main-text
      color: #ffffff
  &-yellow
    padding: 140px 0 90px
  &-img
    max-width: calc(100% + 30px)
    margin-left: -15px
    box-shadow: 0 40px 98px rgba(0, 0, 0, 0.25)
    display: block
    &_marg
      margin-top: 110px
  &-main
    width: 700px
    margin: 0 auto
    position: relative
    left: 35px
    &-text
      color: #ffffff
      font-family: "MuseoSansCyrl-500"
      font-size: 16px
      line-height: 24px
      &_black
        color: #010101
  &-euro
    background-color: #30adeb
    padding: 140px 0 90px
    .label
      color: #ffffff
  &-colambus
    background: #2a2a2a
    padding: 150px 0 200px
  &-deputat
    background: #ffffff
    padding: 145px 0 90px
    .intro-main-text
      color: #010101
  &-geek
    padding: 0
    background: #13151c
    margin-top: -110px
    .label
      color: #6e6e6e
  &-english
    background: #273555
    padding: 160px 0 50px
    .label
      color: #ffffff
  &-donum
    background: #91c3e9
    padding-bottom: 150px
    .label
      color: #ffffff
  &-photo
    padding: 140px 0 145px
    .label
      color: #6e6e6e
  &-sevita
    background: #f42538
    padding: 150px 0 100px
    .label
      color: #ffffff
.visit
  &_uber
    padding: 490px 0 140px
    &-overlay
      background: #1f1d1d url(../img/uber-bg.jpg) no-repeat top center
      background-size: contain
  &_yellow
    background: #face07
    padding: 495px 0 55px
    &-overlay
      background: #face07 url(../img/yellow-bg.jpg) no-repeat bottom center
      background-size: contain
    .third-nav-link
      color: #1b1b1b
  &_blog
    padding: 490px 0 60px
    min-height: 700px
  &_post
    padding: 250px 0 60px
    background-color: #f07023
    min-height: 700px
    display: flex
    align-items: flex-end
    &-left
      position: absolute
      top: 0
      left: 0
  &_contacts
    padding: 315px 0 150px
    min-height: 100vh
    .container
      pointer-events: none
    .third-nav-item
      margin-bottom: 25px
    .third-nav, .contact-btn
      pointer-events: auto
  &_euro
    padding: 480px 0 55px
    background: #58bae7
    &-overlay
      background: #58bae7 url(../img/euro-bg.png) no-repeat right bottom
  &_city
    padding: 470px 0 70px
    background: #30adeb
    &-overlay
      background: #30adeb url(../img/city-bg.png) no-repeat right 9% top
      background-size: contain
  &_error
    height: 100vh
    padding: 280px 0 225px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
  &_colambus
    background: #2a2a2a
    padding: 470px 0 60px
    &-overlay
      background: #2a2a2a url(../img/colambus-bg.jpg) no-repeat right top
  &_deputat
    background: #262626
    padding: 395px 0 75px
    .third-main
      top: 20px
    &-overlay
      background: #262626 url(../img/deputat-bg.jpg) no-repeat right bottom
      background-size: contain
    .title_services
      line-height: 72px
    .services-link_intro
      margin-top: 70px
  &_geek
    background: #13151c
    padding: 480px 0 310px
    &-overlay
      background: #13151c url(../img/geek-bg.png) no-repeat top right
    .title_services, .services-link_intro, .third-nav-link
      color: #06d3fd
    .services-link_intro
      background: url(../img/arrow-down3.svg) no-repeat left center
      background-size: 9px 6px
  &_english
    background: #273555
    padding: 470px 0 50px
    &-overlay
      background: #273555 url(../img/english-bg.jpg) no-repeat right top
  &_donum
    background: #91c3e9
    padding: 480px 0 200px
    &-overlay
      background: #91c3e9 url(../img/donum-bg.jpg) no-repeat top center
      background-size: cover
  &_photo
    background: #7ac1d5
    padding: 480px 0 60px
    &-overlay
      background: #7ac1d5 url(../img/photo-bg.jpg) no-repeat center bottom
  &_eco
    background: #8cbe4d
    padding: 470px 0 65px
    &-overlay
      background: #8cbe4d url(../img/eco-bg.jpg) no-repeat bottom right
  &_edea
    background: #ffffff
    &-overlay
      background: #ffffff url(../img/edea-bg.jpg) no-repeat center bottom
  &_sevita
    background: #f42538
    padding: 470px 0 60px
    &-overlay
      background: #f42538 url(../img/sevita-bg.jpg) no-repeat top center
.services-link_intro
  margin-top: 40px
.uber
  background: #1f1d1d
  position: relative
  z-index: 4
  &-line
    position: relative
    overflow: hidden
    &-block
      display: flex
      justify-content: center
      padding: 225px 0 150px
      align-items: flex-start
    &-label
      position: absolute
      z-index: -1
      top: 150px
      left: 50%
      transform: translateX(-40%)
  &-center
    &-img
      max-width: calc(100% + 30px)
      margin-left: -15px
      box-shadow: 0 40px 98px rgba(0, 0, 0, 0.25)
      margin-bottom: 105px
  &-bottom
    position: relative
    padding: 200px 0 80px
    overflow: hidden
    &-flex
      display: flex
      justify-content: space-between
      width: calc(100% + 30px)
      margin-left: -15px
    &-item
      width: calc(33.33% - 33px)
      font-size: 0
    &-img
      width: 100%
      margin-bottom: 50px
      box-shadow: 0 40px 98px rgba(0, 0, 0, 0.25)
      border-radius: 3px
    &-line
      width: 100%
      height: 600px
      position: absolute
      left: 0
      bottom: 0
      background: #ffffff
    &-label
      position: absolute
      top: 50px
      left: 50%
      transform: translateX(-50%)
  &-top
    &-label
      position: absolute
      left: -165px
      top: -45px
      z-index: -1
.sixth-item-intro
  width: 50%
  .sixth-link
    padding-bottom: 48%
.footer
  background: #1a1a1a
  position: relative
  z-index: 4
  padding: 13px 0
  &-nav
    &-list
      display: flex
      align-items: center
      justify-content: center
    &-link
      color: #595959
      font-family: "MuseoSansCyrl-500"
      font-size: 10px
      line-height: 23.91px
      text-transform: uppercase
      text-decoration: none
      padding: 0 15px
      border-right: 2px solid #272727
      transition: color .5s ease
      &:hover
        color: #ffffff
    &-item
      &:last-child
        .footer-nav-link
          border-right: none
.red-text
  color: #df3732
.third-nav-link_title
  display: block
  color: rgba(255, 255, 255, 0.6)
  font-family: "MuseoSansCyrl-900"
  font-size: 12px
  text-transform: uppercase
  margin-bottom: 10px
.first-main-left_intro
  top: calc(100% - 60px)
  left: 60px
.startLogo_white .first-main-lang
  color: rgba(255, 255, 255, 0.7)
.startLogo_white .first-main-lang:hover, .startLogo_white .first-main-lang.active
  color: #ffffff
.startLogo_white .lang-line:before
  background: #ffffff
.first-main-right_intro
  top: calc(100% - 60px)
  right: -100px
  z-index: 3
.visit-overlay
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
.intro-main-text_text
  color: #010101
.third-main_big
  width: 100%
  left: 0
  padding-left: 260px
.blog
  &-list
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
  &-item
    width: 20%
    position: relative
    background: red
    padding: 35px 40px
    height: 480px
    &-block
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: flex-start
      height: 100%
    &-bottom
      position: relative
    &-day
      color: #ffffff
      font-family: "MuseoSansCyrl-900"
      font-size: 48px
      line-height: 48px
    &-month
      color: rgba(255, 255, 255, 0.5)
      font-family: "MuseoSansCyrl-900"
      font-size: 12px
      text-transform: uppercase
    &-title
      color: #ffffff
      font-family: "MuseoSansCyrl-900"
      font-size: 30px
      transition: all .3s ease
      &:hover
        .second-item-line:before
          transform: translate3d(-205px, 0, 0)
          transition: transform .5s
    &-link
      display: block
      text-decoration: none
      height: 100%
    &:hover
      .second-item-line:before
        opacity: 1
      .blog-item-title
        padding-bottom: 25px
  &-line
    background: #1b1b1b
    padding: 30px 0
    &-block
      padding-left: 260px
    &-more
      color: #ffffff
      font-family: "MuseoSansCyrl-900"
      font-size: 16px
      position: relative
      text-decoration: none
      &:before
        width: 44px
        height: 2px
        background-color: #ffffff
        position: absolute
        top: 50%
        transform: translateY(-50%)
        right: -50px
        content: ''
        transition: all 0.25s cubic-bezier(0.15, 0, 0, 1)
      &:hover:before
        right: -55px
.blog-item-bottom:hover .second-item-line:before
  -webkit-transform: translate3d(-205px, 0, 0)
  transform: translate3d(-205px, 0, 0)
  -webkit-transition: -webkit-transform .5s
  transition: -webkit-transform .5s
  -o-transition: transform .5s
  transition: transform .5s
  transition: transform .5s, -webkit-transform .5s
.title_post
  font-size: 60px
  line-height: 1
.color1
  background-color: #3b65ca
.color2
  background: #f08d23
.color3
  background-color: #f07023
.color4
  background-color: #dc1d4f
.color5
  background-color: #4b2d83
.color6
  background-color: #1aa5e9
.color7
  background-color: #ed2f61
.color8
  background-color: #804fe4
.color9
  background-color: #66bb46
.post-img
  width: 100%
  margin-top: 80px
.seventh_post
  .seventh-text
    font-size: 16px
    line-height: 1.5
  .seventh-row
    margin-top: 85px
  .seventh-text
    margin-top: 35px
  .seventh-row_nomarg
    margin-top: 0
.post-list
  margin-top: 40px
  &-item
    color: #ffffff
    font-family: "MuseoSansCyrl-700"
    font-size: 14px
    padding: 7px 0 7px 35px
    position: relative
    &:before
      width: 4px
      height: 1px
      background: #ffffff
      position: absolute
      content: ''
      left: 0
      top: 50%
      transform: translateY(-50%)
.post-text-lnk
  color: #199bdb
.contact
  &-text
    color: #ffffff
    font-family: "MuseoSansCyrl-700"
    font-size: 16px
    margin-top: 15px
    &-title
     color: #bbbbbb
  &-btn
    margin-top: 30px
  &-popup
    width: 100%
    height: 100vh
    position: fixed
    top: 0
    left: 0
    z-index: 10
    background: #1b1b1b
    display: flex
    align-items: center
    justify-content: center
    opacity: 0
    pointer-events: none
    transition: opacity .5s ease
    &-write, &-calc
      width: 100%
      height: 100vh
      position: fixed
      top: 0
      left: 0
      z-index: 10
      background: #1b1b1b
      display: flex
      align-items: center
      justify-content: center
      opacity: 0
      pointer-events: none
      transition: opacity .5s ease
      &.active
        opacity: 1
        pointer-events: auto
    &.active
      opacity: 1
      pointer-events: auto
    &-content
      max-width: 700px
      width: 100%
      margin: 90px 80px 90px
      display: none
      &.active
        display: block
      &.thank
        max-width: 320px
    &-title
      color: #ffffff
      font-family: "MuseoSansCyrl-900"
      font-size: 60px
      margin-bottom: 35px
    &-form
      display: flex
      flex-wrap: wrap
    &-input
      width: calc(50% - 30px)
      color: #a5a5a5
      font-size: 16px
      font-family: "MuseoSansCyrl-900"
      border: none
      border-bottom: 2px solid rgba(181, 181, 181, 0.1)
      background: transparent
      outline: none
      padding: 15px
      &:nth-child(2)
        margin-right: 60px
    &-btn
      width: calc(50% - 30px)
      margin-top: 60px
    &-thank
      color: #199bdb
      font-family: "MuseoSansCyrl-900"
      font-size: 60px
    &-smile
      color: #e1d01c
    &-subtitle
      color: #bbbbbb
      font-family: "MuseoSansCyrl-500"
      font-size: 16px
      margin-top: 10px
  &-social
    display: flex
    align-items: center
    margin: 10px 0 20px
    &-link
      margin-right: 20px
    &-img
      width: 20px
.close-btn
  cursor: pointer
  margin-left: 20px
  width: 24px
  height: 14px
  position: fixed
  top: 48px
  right: 60px
  .menu-line
    background: #ffffff
.third-main-circle
  position: absolute
.contact-circle
  width: 950px
  background-color: rgba(27, 27, 27, 0.8)
  position: absolute
  height: 450px
  border-radius: 50% / 50%
  z-index: -1
  left: -185px
  top: -80px
.close-btn.active .menu-line_top
  -webkit-transform: rotate(45deg)
  -ms-transform: rotate(45deg)
  transform: rotate(45deg)
  top: 6px
.close-btn.active .menu-line_bottom
  -webkit-transform: rotate(-45deg)
  -ms-transform: rotate(-45deg)
  transform: rotate(-45deg)
  bottom: 6px
.gm-fullscreen-control
  display: none
#markerLayer>:not(:nth-child(1))
  background: #ffd800
  width: 10px!important
  height: 10px!important
  border-radius: 50%
  margin-top: 20px
  margin-left: 10px
  overflow: visible!important
  z-index: 1

#markerLayer>:not(:nth-child(1)):before
  width: 10px
  height: 10px
  border-radius: 50%
  background: #199bdb
  position: absolute
  content: ''
  top: 0
  left: 0
  -webkit-animation: scaleMarker 2s infinite
  animation: scaleMarker 2s infinite
  -webkit-transform-origin: center
  -ms-transform-origin: center
  transform-origin: center
  z-index: -1

@keyframes scaleMarker
  0%
    background: #ffd800
    opacity: 1
    -webkit-transform: scale(0)
    transform: scale(0)
  50%
    background: #199bdb
  100%
    background: #199bdb
    opacity: 0
    -webkit-transform: scale(5)
    transform: scale(5)
.first-main-left_contact
  top: calc(100% - 50px)
  left: 60px
.gm-bundled-control
  bottom: 132px!important
.fifth-btn_mobile
  display: none
.seventh_post
  .post-item
    color: #ffffff
    font-family: "MuseoSansCyrl-700"
    font-size: 14px
    padding: 7px 0 7px 35px
    position: relative
    &:before
      width: 4px
      height: 1px
      background: #ffffff
      position: absolute
      content: ''
      left: 0
      top: 50%
      -webkit-transform: translateY(-50%)
      transform: translateY(-50%)
.archive
  .menu-item-link:hover, .menu-item-link.active
    color: #ffffff
  .menu-item-link:before
    background-color: #ffffff
.yellow
  background: #2c2c2c
  padding: 110px 0 80px
  &-top
    padding-bottom: 140px
    position: relative
    &-first
      height: 310px
      background-color: #ffd401
      position: absolute
      top: 265px
      left: 0
      width: 100%
    &-second
      height: 465px
      background-color: #ffd401
      position: absolute
      top: 1040px
      left: 0
      width: 50%
    &-third
      height: 460px
      background-color: #f5f5f5
      position: absolute
      bottom: 205px
      right: 0
      width: 50%
  &-center
    padding: 130px 0
    background-color: #ffd402
  &-bottom
    padding-top: 110px
.euro
  padding: 110px 0 80px
  background: #58bae7
  &-top
    position: relative
    &-first
      background: url(../img/euro-bg2.jpg) no-repeat bottom center
      height: 688px
      position: absolute
      top: -110px
      left: 0
      width: 100%
      background-size: cover
    &-second
      background: #69819c
      height: 940px
      position: absolute
      top: 1380px
      left: 0
      width: 100%
  &-center
    background: #69819c
    padding-bottom: 240px
  &-bottom
    margin-top: -105px
.city
  background-color: #30adeb
  &-top
    padding: 110px 0 130px
    position: relative
    .container
      max-width: 1590px
    &-flex
      display: flex
      justify-content: space-between
    &-item
      &:first-child
        width: 1180px
        margin-right: 50px
      &:last-child
        width: 360px
      .intro-img
        margin-left: 0
        width: 100%
    &-first
      position: absolute
      top: 0
      right: 0
      background: #ffffff
      width: calc(50% - 32px)
      height: 818px
    &-second
      position: absolute
      left: 0
      top: 1828px
      background: #ffffff
      width: 50%
      height: 905px
    &-third
      position: absolute
      width: 43%
      height: 1278px
      background: #ffffff
      bottom: 0
      right: 0
.error
  position: relative
  &-text
    color: #bbbbbb
    font-family: "MuseoSansCyrl-700"
    font-size: 16px
    text-align: center
    margin-top: 40px
  &-block
    margin: 0 auto
    width: 840px
    height: 335px
    -webkit-mask: url(../img/error.svg)
    mask: url(../img/error.svg)
    -webkit-mask-size: 845px
    mask-size: 845px
    .mask-circle1
      top: -110px
      left: 167px
      &_b
        top: -30px
        left: 630px
    .mask-circle2
      top: -90px
      left: 410px
      &_b
        top: -10px
        left: 876px
    .mask-circle3
      top: -137px
      left: 266px
      &_b
        top: -57px
        left: 730px
    .mask-circle4
      top: 10px
      left: 75px
      &_b
        top: 80px
        left: 535px
    .mask-circle17
      top: -82px
    .mask-circle5
      top: -83px
      left: 464px
      &_b
        top: -5px
        left: 929px
    .mask-circle6
      top: 35px
      left: 425px
      &_b
        top: 110px
        left: 890px
    .mask-circle7
      top: -40px
      left: 525px
      &_b
        top: 40px
        left: 990px
    .mask-circle8
      top: 15px
      left: 327px
      &_b
        top: 90px
        left: 790px
    .mask-circle9
      top: 30px
      left: 240px
      &_b
        top: 105px
        left: 705px
    .mask-circle18
      top: 280px
      left: 145px
      &_b
        top: 360px
        left: 610px
    .mask-circle10
      top: 127px
      left: 425px
      &_b
        top: 205px
        left: 890px
    .mask-circle11
      left: 110px
      top: 117px
      &_b
        left: 575px
        top: 192px
    .mask-circle12
      left: 410px
      top: 225px
      &_b
        left: 875px
        top: 305px
    .mask-circle13
      left: 315px
      top: 140px
      &_b
        left: 777px
        top: 218px
    .mask-circle14
      left: 325px
      top: 225px
      &_b
        left: 790px
        top: 304px
    .mask-circle15
      left: 220px
      top: 185px
      &_b
        left: 687px
        top: 267px
    .mask-circle16
      left: 168px
      top: 232px
      &_b
        left: 639px
        top: 310px
.third-main_error
  width: 100%
  left: 0
.fancybox-slide--image
  padding: 0!important
.fancybox-button--close
  border-radius: 50%
  right: 30px
  top: 30px
.fancybox-navigation
  display: none
.gallery
  padding: 30px 30px 0
  display: none
  &-item
    width: calc(50% - 15px)
    margin-bottom: 30px
    z-index: 4
  &-img
    width: 100%
  &_uber
    background: #1f1d1d
  &_yellow
    background-color: #2c2c2c
  &_euro
    background: #58bae7
  &_city
    background: #30adeb
  &_colambus
    background: #2a2a2a
  &_deputat
    background: #262626
  &_geek
    background: #13151c
  &_english
    background: #273555
  &_donum
    background: #91c3e9
  &_photo
    background: #76c1d6
.colambus
  background: #2a2a2a
  &-center
    padding: 110px 0 20px
  &-bottom
    position: relative
    &-label
      position: absolute
      top: 60px
      left: -120px
      z-index: -1
  &-top
    position: relative
    &-label
      position: absolute
      top: 580px
      left: -120px
      z-index: -1
      &_second
        top: calc(100% - 610px)
    &-first
      height: 1186px
      background-color: #d02223
      width: 100%
      position: absolute
      left: 0
      top: 590px
    &-second
      height: 1167px
      background-color: #d02223
      width: 100%
      position: absolute
      left: 0
      bottom: -577px
  &-center
    position: relative
    &-first
      height: 1167px
      background-color: #d02223
      position: absolute
      width: 100%
      left: 0
      top: 2540px
    &-label
      position: absolute
      top: 2795px
      left: -120px
      z-index: -1
.deputat
  padding: 100px 0 0
  background: #efefef
  &-top
    background-color: #efefef
    padding-bottom: 110px
    position: relative
    &-first
      height: 716px
      position: absolute
      left: 0
      top: -110px
      background-color: #302e2d
      width: 100%
      &:before
        width: 50%
        position: absolute
        right: 0
        bottom: 0
        height: 186px
        content: ''
        background-color: #597bd1
    &-second
      height: 631px
      background-color: #597bd1
      position: absolute
      z-index: -1
      right: calc(100% - 227px)
      bottom: -517px
      width: 31.875vw
  &-center
    position: relative
    background: #efefef
    &-first
      height: 565px
      background-color: #597bd1
      position: absolute
      right: 0
      top: 112px
      width: 50%
    &-second
      height: 567px
      background-color: #e3e3e3
      width: 50%
      left: 0
      top: 870px
      position: absolute
    &-third
      height: 567px
      background-color: #e3e3e3
      right: 0
      width: 50%
      position: absolute
      top: 1621px
    &-fourth
      height: 567px
      background-color: #e3e3e3
      left: 0
      width: 50%
      position: absolute
      bottom: 119px
    &-fifth
      height: 716px
      background-color: #597bd1
      top: calc(100% - 120px)
      width: 100%
      position: absolute
      z-index: 1
    &-sixth
      height: 632px
      background-color: #597bd1
      top: calc(100% - 115px)
      width: 100%
      position: absolute
      z-index: 1
  &-bottom
    background: #262626
    padding-top: 185px
    margin-top: -55px
    position: relative
.geek
  background: #13151c
  padding-bottom: 80px
  overflow: hidden
  margin-top: -230px
  &-top
    padding: 555px 0 0
    position: relative
    &-first
      position: absolute
      width: 1472px
      height: 1402px
      background: url(../img/geek-bg2.png) no-repeat center
      left: 0
      top: -554px
      z-index: -1
    &-second
      width: 1267px
      height: 1522px
      position: absolute
      background: url(../img/geek-bg3.png) no-repeat center
      z-index: -1
      left: -515px
      top: 140px
    &-third
      width: 1446px
      height: 1555px
      position: absolute
      background: url(../img/geek-bg3.png) no-repeat center
      z-index: -1
      left: 0
      top: calc(100% - 900px)
  &-center
    padding: 110px 0 0
    position: relative
    &-first
      position: absolute
      z-index: -1
      left: -200px
      width: 1920px
      height: 2000px
      bottom: -1000px
      background: url(../img/geek-bg4.png) no-repeat center
    &-second
      position: absolute
      width: 1267px
      height: 1453px
      background: url(../img/geek-bg5.png) no-repeat center
      left: -620px
      top: 870px
      z-index: -1
    &-third
      position: absolute
      width: 1267px
      height: 1453px
      background: url(../img/geek-bg5.png) no-repeat center
      right: -495px
      top: 1975px
      z-index: -1
    &-fourth
      position: absolute
      width: 1267px
      height: 1453px
      background: url(../img/geek-bg5.png) no-repeat center
      left: -620px
      bottom: 0
      z-index: -1
  &-bottom
    padding-top: 150px
    position: relative
    &-first
      position: absolute
      width: 1916px
      height: 1724px
      background: url(../img/geek-bg6.png) no-repeat center
      z-index: -1
      top: 0
      left: 0
    &-second
      position: absolute
      width: 1804px
      height: 2110px
      background: url(../img/geek-bg7.png) no-repeat center
      z-index: -1
      bottom: 0
      left: -330px
.english
  background: #273555
  padding: 205px 0 0
  &-center
    padding: 110px 0 130px
    position: relative
    &-first
      background: #1c2435
      bottom: 0
      left: 0
      width: 100%
      height: 1140px
      position: absolute
  &-top
    position: relative
    &-first
      height: 2550px
      width: 100%
      left: 0
      bottom: 220px
      background: #1c2435 url(../img/english-bg2.png) no-repeat center bottom
      background-size: contain
      position: absolute
  &-bottom
    background: #1c2435
    padding-bottom: 80px
.donum
  background: #91c3e9
  padding-bottom: 80px
  &-top
    padding-top: 285px
    position: relative
    overflow: hidden
    &-first
      position: absolute
      width: 1406px
      height: 343px
      top: 75px
      left: calc(50% - 703px)
      background: url(../img/donum4.png) no-repeat center
    img
      margin-bottom: 100px
.photo
  background: #1b2f3e
  &-top
    padding-top: 110px
    position: relative
    &-first
      width: 100%
      position: absolute
      left: 0
      top: 0
      height: 769px
      background: #7ac1d5
    &-second
      width: 100%
      position: absolute
      left: 0
      top: calc(100% - 359px)
      height: 2921px
      background: #7ac1d5
  &-center
    padding-top: 110px
  &-bottom
    padding: 110px 0 80px
.eco
  background: #23211f
  &-top
    position: relative
    padding-top: 110px
    &-first
      position: absolute
      height: 670px
      top: -110px
      right: 321px
      background: #8cbe4d
      width: 100%
      z-index: -1
    &-second
      position: absolute
      right: 0
      width: 50%
      height: 1077px
      top: 670px
      background: #8cbe4d
    &-third
      position: absolute
      left: 0
      width: 50%
      height: 1180px
      top: 2595px
      background: #8cbe4d
    &-fourth
      position: absolute
      right: 0
      width: 50%
      height: 1230px
      bottom: 1695px
      background: #8cbe4d
    &-fifth
      position: absolute
      left: 0
      width: 37%
      height: 1553px
      top: calc(100% - 906px)
      background: #8cbe4d
  &-center
    padding: 110px 0 0
  &-bottom
    background: #ece9e4
    padding: 215px 0 80px
    margin-top: -85px
.about
  background: #1b1b1b
  padding: 200px 0 50px
  &-container
    max-width: 1460px
  &-title
    color: #ffffff
    font-family: "MuseoSansCyrl-900"
    font-size: 60px
    text-align: center
    max-width: 865px
    margin: 0 auto
    padding: 0 30px
  &-text
    margin: 40px auto 0
    text-align: center
    color: #ffffff
    font-family: "MuseoSansCyrl-500"
    font-size: 16px
    line-height: 1.5
    max-width: 695px
    padding: 0 30px
  &-list
    display: flex
    justify-content: center
    flex-wrap: wrap
    margin-top: 100px
  &-item
    width: calc(25% - 60px)
    margin: 50px 30px
    position: relative
  &-img
    width: 100%
  &-info
    color: #ffffff
    position: absolute
    font-family: "MuseoSansCyrl-900"
    left: 0
    bottom: 50px
    &-title
      font-size: 20px
    &-position
      font-size: 12px
      text-transform: uppercase
      margin-top: 8px
.contact-popup-form form
  display: flex
  flex-wrap: wrap
.header-left_popup
  position: absolute
  left: 60px
  top: 40px
  .header-logo
    display: block!important
  use
    fill: #ffffff
  .header-phone-link
    color: #ffffff
@import "media" // Всегда в конце